body {
    padding-top: 90px;
    background-color: #fff;
}

.wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
}

.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear; 
}

.navbar-fixed-top .brand span { 
        font-family: Arvo, Rockwell, "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
        text-transform: uppercase;
}

section {
    padding-top: 30px;
}

.row > section {
    padding-top: 0;
}


section h2 {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eee;
    color: #5A5A5A;
}

code {
    color: #424242;
} 

.box h2{ 
    font-size: 22px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    height:60px;
}

.sticky {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

.nav-list {
    width: 170px;
}

dd > span {
    font-weight:bold;
}

@media (min-width: 1200px) {
    .nav-list {
        width: 220px;
    }
}

@media (max-width: 980px) {
    body{ 
        padding-top: 0;
    }

    .nav-list {
        top: 0;
        width: 218px;
        margin-top: 30px;
        margin-right: 0;
    }
}

.affix-bottom {
    position: fixed;
}

textarea {
    height: 130px;
}

@media (max-width: 979px) and (min-width: 768px) {
    .nav-list {
        width: 120px;

    }
}


@media (max-width: 767px){
    .nav-list {
        width: auto;
    }

    .nav-list.affix {
        position: static;
        width: auto;
        top: 0;
    }
}
